<!-- banner-->
<div class="index-banner-box">
    <div id="owl" class="owl-carousel owl-theme">
        {{each carouselLists}}
        <div class="carousel-item">
            <a class="ca" href="{{$value.href}}">
                <img class="carousel-img" src="{{$value.img}}" alt="{{$value.alt}}">
            </a>
        </div>
        {{/each}}
    </div>
</div>
<!-- case-->
<div class="index-solution-box">
    <h3 class="solution-title ta-c">解决方案</h3>
    <p class="small-title">
        solution scenario
    </p>
    <ul class="solution-list cf" id="solutionList">
        {{each solutionLists}}
        <li class="solution-item inb-tac {{if $index == 3}}active{{/if}}" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
            <div class="solution-card">
                <div class="icon icon-{{$index + 1}}"></div>
                <h5 class="card-name">{{#$value.name}}</h5>
                <div class="card-content">

                </div>
                <a class="card-button" href="{{$value.href}}">查看详情</a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<!-- news-->
<div class="index-trend-box">
    <h3 class="trend-title ta-c">新闻动态</h3>
    <p class="small-title">
        news
    </p>
    <div class="c-row">
        <ul class="trend-list cf">
            {{each newsLists}}
            <li class="trend-item fl">
                <div class="news-img news-img-{{$index + 1}}"></div>
                <div class="news-box">
                    <div class="news-time d-ib v-t">
                        <p class="time-y">{{$value.date}}</p>
                        <p class="time-d">{{$value.year}}</p>
                    </div>
                    <div class="news-abstract d-ib v-t">
                        <h4 class="news-title">{{$value.title}}</h4>
                        <p class="news-content">{{$value.content}}</p>
                        <span class="etc">>></span>
                    </div>
                </div>

            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- partners-->
<div class="index-partner-box">
    <h3 class="partner-title ta-c">合作方</h3>
    <ul class="c-row partner-list cf">
        {{each partnerLists}}
        <li class="partner-item fl">
            <a href="{{$value.href}}" class="partner-link">
                <i class="p"></i>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
<!-- leave a message-->
<div class="index-message-box">

</div>
