@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1471974737_1593666.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1471974737_1593666.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1471974737_1593666.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1471974737_1593666.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1471974737_1593666.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    vertical-align: middle;
}

// icon-font-end
body {
    min-width: 1200px;
    position: relative;
    @include res('m') {
        min-width: 0;
        width: 20rem;
        max-width: 20rem;
        padding-top: r(100);
        overflow-x: hidden;
    }
    .no-flow {
        position: relative;
        overflow-y: hidden;
    }
}

.c-row {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include res('m') {
        width: r(750) !important;
        box-sizing: border-box;
    }
    &.s {
        width: 1000px;
    }
}

.nav-box {
    position: relative;
    height: 80px;
    background-color: $w;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    @include res('m') {
        position: fixed;
        z-index: 10;
        top: 0;
        height: r(100);
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, .97);
        border-color: #f4f4f4;
        border-width: 1px 0;
        border-style: solid;
    }
    .logo {
        height: 80px;
        .l {
            height: 100%;
        }
        @include res('m') {
            height: r(98);
        }
    }
    .nav-body {
        position: relative;
        height: 80px;
        text-align: right;
        @include res('m') {
            display: none;
            position: absolute;
            top: r(98);
            left: 0;
            right: 0;
            bottom: r(-100);
            height: auto;
            z-index: 2;
            background: rgba(0,0,0, .7);
            transition: .3s ease-out;
            transform: translate3d(0,0,0);
            &.show {
                display: block;
                animation: fadeIn .1s ease-out forwards;
                .nav {
                    animation: slideIn .4s cubic-bezier(0.12, 0.83, 0.75, 0.99) forwards
                }
            }
        }
    }
    .nav-contact {
        height: 32.5%;
        display: inline-block;
        .unit {
            color: #333;
            font-size: 12px;
            padding-left: 9px;
            line-height: 2;
            cursor: pointer;
            &:not(:last-child) {
                padding-right: 9px;
                border-right: 1px solid #aaa;
            }
        }
    }
    .nav {
        padding-top: 15px;
        white-space: nowrap;
        box-sizing: border-box;

        @include res('m') {
            position: fixed;
            top: 0;
            right: 0;
            bottom: r(-100);
            width: 12rem;
            padding: r(40) 0 0 0;
            background: rgb(255, 255, 255);
        }
        .mob-nav-contact {
            //position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: r(150);
            height: r(180);
            .contact-field {
                display: block;
                text-align: right;
                font-size: r(25);
                padding-right: r(50);
                color: #cecdd1;
                line-height: 1.6;
                font-weight: 200;
                vertical-align: middle;
                .iconfont  {
                    font-size: r(30);
                }
            }
        }
        .nav-title {
            padding: r(20) r(50) r(30) 0;
            color: #e9e8ec;
            font-size: r(65);
        }
        .nav-unit {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
            font-size: 15px;

            &:not(:last-child) {
                padding: 0 13px;
            }
            .n {
                color: $t;
                &:hover, &.now-in {
                    color: $or;
                }
            }
            @include res('m') {
                display: block;
                font-size: r(35);
                line-height: 2.9;
                text-align: right;
                padding: 0 r(50) 0 0;
                text-indent: 0;

                &:not(:last-child) {
                    padding: 0 r(50) 0 0;
                    border-bottom: 1px solid rgba(68, 136, 238, 0.1);
                }
            }
        }
    }
    .hamburger-menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: r(650);
        width: r(100);
        height: r(100);
        cursor: pointer;
        z-index: 3;
        &.bg {
            background-color: #f0f0f0 ;
            &:after {
                content: '';
                margin: 0 auto;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-top-color: #f4f4f4;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 10;
            }
        }
    }

    .bar,
    .bar:after,
    .bar:before {
        width: $bar-width;
        height: $bar-height;
    }

    .bar {
        position: relative;
        transform: translate(r(21), r(46));
        background: $bar;
        transition: all 0ms 200ms;

        &.animate {
            background: rgba(255, 255, 255, 0);
        }
    }

    .bar:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: $bar-spacing;
        background: $bar;
        transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: $bar-spacing;
        background: $bar;
        transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

    .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
}

.foot-box {
    padding: 80px 0 60px;
    .foot-list {
        text-align: center;
    }
    .sub-contact {
        color: $or;
        .logo {
            display: block;
            .l {
                width: 200px;
            }
        }
        .wechat {
            padding: 10px 0;
        }
        .tel {
            font-size: 16px;
            font-weight: bold;
            padding: 5px 0;
        }
        .address {
            font-size: 14px;
            line-height: 1.7;
        }
    }
    .foot-item {
        width: 400px;
        .foot-item-title {
            font-size: 18px;
            color: $t;
            padding-bottom: 30px;
        }
    }
    .wrapper {
        display: inline-block;
        text-align: left;
    }

    .sub-content {
        font-size: 15px;
        line-height: 1.9;
        .a {
            color: $or;
        }
    }
}

.copyright {
    padding: 20px 0;
    background-color: $t;
    color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    .cm {
        color: inherit;
    }
    @include res('m') {
        padding: r(20);
        font-size: r(12);
        color: #999;
    }
}

.back-to-top  {
    display: none;
    z-index: 9;
    position: fixed;
    right: 20px;
    bottom: 20%;
    width: 35px;
    height: 35px;
    background: rgba(86,186,240,.7);
    transition: .2s ease-out;
    cursor: pointer;
    @include res('m') {
        right: 0;
    }
    &:hover {
        background: rgba(86,186,240,1);
    }
    .iconfont {
        margin-left: 5px;
        font-size:25px;
        line-height: 35px;
        font-weight: 100;
        color: $w;
    }
}

@keyframes slideIn {
    0% {
        transform: translate3d(90%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0%, 0);
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0,0,0,0);
    }
    100% {
        background: rgba(32, 74, 106, .7);
    }
}

