<h1>2016，辰森世纪全力加速中！</h1>
<p><img src="http://www.choicesoft.com.cn/UploadFile/2016722143225943.jpg" alt=""></p>
<p>2016年6月9日至10日，辰森世纪2016年中会议在上海召开，来自北京、上海、广州、济南、宁波、重庆、武汉、南京各分公司负责人、销售、研发、技术实施以及各事业部代表齐聚一堂，共同就上半年的工作情况做了汇报总结，并对公司今后发展的各项制度进行了深入探讨。</p>
<p>会上，隋董事长首先对餐饮软件行业的形势做了全面而细致的分析，指出辰森面临的外部竞争压力越来越大。与此同时，辰森世纪在经过7年产品化建设后，产品彻底稳定，拥有良好的市场基础，现在正处在绝佳的战略发展时机。因此，我们要紧抓时机，凭借核心竞争力抢占市场高地，快速布局提高市场占有率。接着，就公司近期的主要工作和重要举措做了详细部署。</p>
<p>各分公司负责人，研发负责人以及各事业部代表分别就上半年度的运营情况及下半年工作计划与思路做了汇报，并就将要实行的各项制度分组进行了讨论，初步达成共识。10日，与会人员共同参观了小南国迪斯尼小镇四种不同业态的餐饮品牌项目，实地考察辰森软件的使用情况。</p>
<p>年中会议是承上启下的关键节点，通过此次会议不仅明确了公司的发展方向，而且各级部门在总结经验的同时，也认识到了自身的不足之处。年中会议起到了“中场加油”的作用，有利于全体员工团结一心，振奋精神，开拓进取，乘势而上。</p>
<p>会后，公司将陆续出台各项针对性制度，通过制度的建立和规范执行，提高员工的工作动力与效率，提升团队合作热情，进而全面增强企业的综合实力。</p>
<p>辰森世纪从1995年成立至今，20年的历史文化沉淀，造就了辰森人不屈不挠的拼搏精神。我们一直致力于中国连锁餐饮信息系统专业服务，每一天，在中国300多城市，8000多家餐饮品牌企业，4万多家门店都在使用辰森世纪的系统服务，我们将打造中国领先的餐饮信息化云服务平台。2016，辰森世纪全力加速，号角已吹响，让我们共同携手，荣耀前行！</p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/201672214339652.jpg" alt=""></p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/2016722143322942.jpg" alt=""></p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/2016722143332581.jpg" alt=""></p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/2016722143342416.jpg" alt=""></p>
