<p>2015年9月7日，上海绍兴饭店管理有限公司（以下简称：绍兴饭店）与北京辰森世纪科技股份有限公司（以下简称：辰森世纪）签署战略合作协议,双方此次合作将依托辰森世纪互联网化的餐饮行业（整体）解决方案，为绍兴饭店打造涵盖餐饮集团一体化管控及移动互联网餐饮O2O生态圈的私有云平台，为其未来发展注入强劲信息化动力。</p>
<p>在移动互联飞速发展的今天，作为传统大型中餐代表的绍兴饭店也在开辟管理模式与商业模式的创新之路。辰森世纪将利用先进、成熟、标准化的餐饮行业信息化云平台为绍兴饭店打造基于集团管控、运营管理、线上线下融合的互联网餐饮O2O私有云平台，通过互联网化的餐饮信息化解决方案，助力绍兴饭店实现管理精细化、集约化发展，不断提高企业核心竞争力。</p>
<p>此次战略合作，将成为绍兴饭店追求企业管理与商业模式创新发展的一个重要里程碑，也再次证明了辰森世纪在餐饮行业信息化领域的雄厚实力。</p>
<p>绍兴饭店创立于1989年，经过23年艰苦卓绝的不懈努力，其知名度、美誉度等综合实力都位居上海大型综合餐饮前列，是名副其实的“源于绍兴，兴于上海”之海派餐饮文化的代表及符号，是目前上海餐饮业中唯一同时拥有“上海市著名商标企业”、“上海优秀服务商标企业”、“上海名牌产品企业”、“全国餐饮业优秀企业”四项荣誉的大型餐饮企业。绍兴饭店在上海市、江浙地区乃至全国都已具有广泛的影响力。</p>
