<p>2015年9月9日，上海和记餐饮管理有限公司成功牵手北京辰森世纪，达成战略合作，共同打造基于多品牌、多门店、跨地域的餐饮集团一体化管控平台及移动互联网餐饮O2O生态圈。</p>
<p>随着和记的新餐饮品牌的运营和门店数量的增长，原有的单店管理模式的信息系统已经不能满足和记多品牌、多门店、跨地域的管理需求和业务增长，尤其是在餐饮O2O线上营销和集团管控两个方面，和记提出了迫切的需求。此次辰森世纪与和记的战略合作在这两方面达成了高度的共识。辰森世纪将用标准化的餐饮信息系统平台为和记搭建稳定的、开放的移动互联网O2O生态圈，同时打通后端的多品牌、多门店、跨区域的集团管控平台，优化和记的服务与管理、实现和记经营模式的创新，也为和记未来的发展保驾护航。</p>
<p>移动互联网O2O生态圈的应用会给和记带来很大的价值。未来，和记旗下的所有餐厅都会成为高科技餐厅，顾客通过移动端设备在线实现定位、等位、点餐、买单的就餐全流程，在提高顾客体验的同时，还将节省大量的服务人员，同时提高了餐厅运营效率，降低运营成本。</p>
<p>上海和记餐饮管理有限公司开业于1999年，是中华餐饮名店，上海著名商标。和记餐饮稳步发展至今，已经拥有和记小菜、新和记小菜、星和记、一碗米饭、何必辣重庆小面五个品牌，分布于上海和江苏的各大商圈。餐饮业态覆盖了传统大型中餐、时尚主题餐厅、小吃快餐等领域。从2007年起，和记餐饮首创了大型餐饮开放式厨房，2008年中央厨房正式运转，到现在的O2O线上营销，上海和记始终走在餐饮管理模式的前沿。</p>
