<p>2016年3月21日，北京辰森世纪公司与泰国美诺国际控股集团正式签约。此次合作将围绕美诺(北京）餐饮管理公司“多业态、跨区域、国际化”等特点提供涵盖门店O2O＋POS＋CRM＋BOH等连锁餐饮云平台解决方案。</p>
<p>此次信息化选型，泰国美诺国际控股集团总部非常重视，经过层层筛选，最终选用辰森世纪解决方案，辰森世纪公司作为“中国连锁餐饮智能化第一品牌”，也一定能为美诺(北京)餐饮管理公司旗下所有餐饮品牌的快速扩张保驾护航！</p>
<p>链接：美诺集团公司简介</p>
<p>美诺集团创建于1978年，最初只经营芭堤雅海滨的一个小度假村，数十载风云变幻，集团实力不断雄厚并正式更名为“美诺国际控股集团”，2005年开始以“MINT”为股票代码在泰国证券市场上市交易.</p>
<p>现如今，美诺国际控股集团主要经营三大业务，</p>
<p>即</p>
<p>》酒店业务</p>
<p>》餐饮业务</p>
<p>》零售业务</p>
<p>美诺酒店集团既是拥有者，也是经营者、投资者。目前在世界范围内拥有[安纳塔拉Anantara]、[安凡妮AVANI]、[芙花芬岛PerAquum]、[奥克斯Oaks][Elewana]、[万豪Marriott]、[四季FourSeasons]、[圣瑞吉St.Regis]以及[美诺国际MinorInternational]品牌旗下的合计100余家酒店和度假村，产业遍布亚太、中东、非洲和印度洋地区内的14个国家。</p>
<p>美诺餐饮集团是亚洲餐饮集团巨头之一，经营ThePizzaCompany、Sizzler西餐厅、Swensens、DQ、BurgerKing、ThaiExpress心泰心厨、TheCoffeeClub、Ribs＆Rumps、江边城外巫山烤全鱼等众多品牌，共计1500余家餐厅，遍及中国、越南、澳大利亚、新加坡等19个国家和地区。</p>
<p>美诺零售集团是泰国生活品牌经营者巨头之一，经营Gap,Esprit,Bossini,Charles＆Keith,Pedro,RedEarth和Tumi等时尚品牌</p>
<p>“美诺（北京）餐饮管理有限公司”是美诺国际控股集团在中国设立的HUB，以Sizzler西餐厅和ThaiExpress心泰心厨泰餐厅为主导品牌，秉承集团精神，以丰富的连锁经营实战经验和专业一致的国际化操作化标准，采用当地农场新鲜果蔬和国际进口食材原料，经过专业厨师新鲜烹制，坚持不懈为每位顾客提供高品质菜品，一步一个脚印扎扎实实经营好每家餐厅。</p>
