<p><img src="/UploadFile/201577174750252.jpg" alt=""></p>
<p>以粽子享誉世界的五芳斋集团在前期与辰森达成了战略合作伙伴关系，旗下的“五芳斋粽子”和“优米一家”品牌300多家门店的POS及总部BOH系统全部顺利上线并验收。2015年，在一年一度的端午节高峰期间，五芳斋嘉兴旗舰店单店单日营业额达到一百万！创造了快餐营业的惊人纪录。奇迹的背后，除了五芳斋团队有效的营销策略和管理能力，稳定高效的辰森系统为其提供了坚实的后盾，获得了客户的高度认可。我们见证并祝贺五芳斋营业奇迹的诞生，也为提供系统运维支持的辰森工程师喝彩！</p>
<p>以粽子享誉世界的五芳斋集团在前期与辰森达成了战略合作伙伴关系，旗下的“五芳斋粽子”和“优米一家”品牌300多家门店的POS及总部BOH系统全部顺利上线并验收。</p>
<p>2015年，在一年一度的端午节高峰期间，五芳斋嘉兴旗舰店单店单日营业额达到一百万！创造了快餐营业的惊人纪录。奇迹的背后，除了五芳斋团队有效的营销策略和管理能力，稳定高效的辰森系统为其提供了坚实的后盾，获得了客户的高度认可。</p>
<p>我们见证并祝贺五芳斋营业奇迹的诞生，也为提供系统运维支持的辰森工程师喝彩！</p>
