<h1>搭载新引擎，江边城外打造餐饮互联网+</h1>
<p><img src="http://www.choicesoft.com.cn/UploadFile/201614112841846.jpg" alt=""></p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/20161411295523.jpg" alt=""></p>
<p>江边城外”——耳熟能详的餐饮知名烤鱼品牌！她和辰森的牵手，已逾五载。从合作初期的北京地区门店，到现在遍布全国已达近百家直营门店，早已成为市场高度认可的烤鱼领军品牌，辰森在提供信息化建设服务的同时，见证了江边城外的飞速发展。</p>
<p>在引入资本后，面对互联网背景的新形势，满足企业强劲发展的需求，辰森近日与江边城外达成新一轮战略合作，由辰森帮助集团建设O2O云平台，建立企业自己的大数据中心，实现总部高效管控、优化餐厅服务流程、降低人力成本，提升运营管理水平的目标！</p>
<p>有梦想，一切有可能，搭载辰森“互联网引擎“的江边城外，必将在激烈的市场竞争中保持强劲竞争力，你，我，共同见证！</p>
