<p><img src="http://choicesoft.com.cn/UploadFile/2015327175511910.jpg" alt=""></p>
<p>“权金城”成立于2000年，集食品研发、工业化生产、物流配送、餐饮服务于一体的京城老牌餐饮企业，目前公司拥有权金城和权味两个品牌，门店近100家，集中覆盖了华北、华东区、华中区等多个区域。在经过十几年的发展后，随着市场的变化及企业自身等因素，面对近乎白热化的行业竞争，发展进入瓶颈期。枯木逢春,2014年，随着弘毅资本的强势进入，“权金城”焕发了新的生机。</p>
<p>众所周知，一场关乎品质生活的投资暗战已然打响。新的环境趋势正在把与健康品质、生活相关的领域变成下一片梦想与资本竞逐的新大陆，而餐饮业无疑成为投资者青睐的热土。正是在这样的市场背景下，联想集团旗下的弘毅资本成立了“弘记餐饮”并成功投资控股权金城，决心通过外沿并购和内生增长的途径，打造中国最大的中式餐饮管理集团。这也是弘毅为打造“弘记餐饮帝国”奠定的第一块重要基石。</p>
<p>千里之行，始于足下，发展离不开信息化的支持，具备前瞻性眼光的“弘记”管理层进入权金城后第一项重要工作就是打造具有国际化连锁餐饮管理理念的信息化平台，淘汰原有滞后的管理系统，并于2014年底正式启动信息化选型招标工作。本次选型，极其审慎，企业高管、招标评审团队成员具备资深Yum百胜、麦当劳等国际化餐饮连锁行业经验，在历时三个月近乎苛刻的考察、演示、讨论、评比后，辰森凭借优秀产品和综合实力，最终中标，为其提供从多业态前台到后台及总部一体化管理系统，打造更先进的信息化管控平台。</p>
<p>本次和权金城集团的合作，是继呷哺呷哺（450多家门店）、五芳斋（400多家门店）、迪孚国际（400家门店）、豪享来（200多家门店）、汉拿山（200多家门店）、马兰拉面、鱼酷、九毛九等著名连锁品牌与辰森合作后，又一重要的战略合作客户。</p>
