<h1>辰森世纪签约广州著名连锁“广少茶餐厅”</h1>
<p><img src="http://www.choicesoft.com.cn/UploadFile/2016389421170.jpg" alt=""></p>
<p>广州荣恒饮食有限公司旗下广少茶餐厅是一家经营连锁式茶餐厅的餐饮企业，揉合了传统和新派的做法，经过一直以來不断地钻研、努力与进步下，逐漸得到广大消费者的喜爱与认可。在广州，佛山禅城地区先后开设分店，现向南海等地区辐射，为向全国型餐饮连锁企业发展做基石。</p>
<p>正因企业的全速发展与壮大，更需要强劲的信息化助手作为推进。此次辰森与广少餐饮的合作，辰森将利用自身的技术和理念优势，运用国内超前的餐饮信息化解决方案通过集总部云管理及门店POS，搭载微信云端平台打造现代化O2O智能云平台。助力广少餐饮共同打造先进的集团餐饮全业务流的信息化ERP管理平台。</p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/20163894221477.jpg" alt=""></p>
<p><img src="http://www.choicesoft.com.cn/UploadFile/20163894245441.jpeg" alt=""></p>
