<div class="nav-box cf">
    <a class="logo fl" href="/">
        <img src="" alt="ChenSen" class="l">
    </a>
    <div class="nav-body fr">
        <ul id="nav" class="nav cf">
            <li class="nav-unit"><a href="/" class="n">首页</a></li>
            <li class="nav-unit"><a href="/about" class="n">关于辰森</a></li>
            <li class="nav-unit"><a href="/news" class="n">新闻中心</a></li>
            <li class="nav-unit"><a href="/solution" class="n">解决方案</a></li>
            <li class="nav-unit"><a href="/case" class="n">经典案例</a></li>
            <li class="nav-unit"><a href="/message" class="n">咨询留言</a></li>
            <li class="nav-unit"><a href="/contact" class="n">联系我们</a></li>
        </ul>
    </div>
</div>
