<!DOCTYPE html>
<html lang="zh-CN-HANS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="同盾科技">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="Keywords" content="北京辰森世纪科技有限公司 餐饮 洗浴娱乐 商超 会所 管理软件">
    <meta name="Description" content="北京辰森世纪科技有限公司 餐饮 洗浴娱乐 商超 会所 管理软件">
    <meta name="author" content="designed by ycy;writed by waynecz;">
    <title>{{title}}-北京辰森世纪科技有限公司</title>
    <link rel="stylesheet" href="css/style-output.css">
    <script src="js/pace.min.js"></script>
</head>
