{{include '../control/meta'}}
<body>
{{include '../control/kill_ie'}}
{{include '../control/head'}}
{{#ctx}}
{{include '../control/foot'}}
</body>
<script type="text/javascript" charset="UTF-8" src="js/pace.min.js"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
{{if title == '首页'}}
<script type="text/javascript" src="js/carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/aos.js"></script>
<script type="text/javascript" src="js/main.js"></script>
{{/if}}
</html>
